@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo{
  height: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.jumbotron {
  height: 236px;
  background-image: url('./background.jpg');
  background-size: cover;
  color:white;
  margin-bottom: 3%;
  font-family: 'nanumsquare';
}
.titleDes {
  padding-bottom: 7px;
}
.description {
  font-size: 15px;
  padding-bottom: 5px;
}
.description2 {
  font-size: 13px;
  padding-bottom: 25px;
}

.btn1 {
    width:30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(184, 184, 184);
    border:1.5px solid rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}
.box {
  padding-top: 41px;
  text-align: left;
  padding-left: 7%;
}
.box2 {
  display: inline-block;
  width: 90%;
}
.clothtitle  {
  margin-top: 4px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}

.best {
  color: white;
  font-size: 13px;
  background-color: rgb(43, 43, 43);
}

.best2 {
  color: white;
  font-size: 13px;
  background-color: rgb(126, 126, 126);
}

.btnmore {
  width:60px;
  height: 35px;
  margin-top: 7px;
  border-radius: 5px;
  border:1.5px solid rgb(175, 175, 175);
  background-color:rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.theadd {
  border-bottom: lightgray;
  color: gray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
