.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.jumbotron {
  height: 236px;
  background-image: url('./background.jpg');
  background-size: cover;
  color:white;
  margin-bottom: 3%;
}
.titleDes {
  padding-bottom: 7px;
}
.description {
  font-size: 15px;
  padding-bottom: 5px;
}
.description2 {
  font-size: 13px;
  padding-bottom: 25px;
}
.box {
  padding-top: 41px;
  text-align: left;
  padding-left: 7%;
}
.box2 {
  padding: 4%;
}
a, b {
  padding-top: 4px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: smaller;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
