$메인컬러 : #ff0000;
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: all 500ms;
}

.red {
    color : $메인컬러;
}


.black {
    color: #000;
    font-family: nanumsquare;
    font-size: 15px;
}
@mixin 함수() {
    background-color: #ffe591;
    padding: 20px;
    border-radius: 5px;
    max-width: 95%;
    width: 100%;
    margin: auto;
}

.mt-5 {
    float: center;
}

.my-alert {
    @include 함수()
}
.my-alert2 {
    @extend .my-alert;
    background: #c7c7c7;
}
#bootstrap-overrides { /* 중요성 점수: 100+1=101 */
    color: black;
  }
.Nav.Link {
    color: black;
}

.pay {
    width:140px;
    height: 38px;
    margin-top: 7px;
    border-radius: 5px;
    background-color: black;
    border:1.5px solid black;
    color: white;
}
.price {
    margin-right: 80px;
}
.desc {
    margin-right: 70px;
    font-size: 13px;
}
.left {
    text-align: left;
    font-family: nanumsquare;
}
.left2 {
    text-align: left;
    margin-left: 50px;
    font-family: nanumsquare;
}
.left3 {
    text-align: left;
    margin-bottom: 15px;
    font-family: nanumsquare;
    font-weight: bold;
}
.npay {
    @extend .pay;
    background-color: #2DB400;
    border:1.5px solid #2DB400;
}

.my-alert p {
    margin-bottom: 0;
}

.x_btn {
    background-color: transparent;
    border: transparent;
    float: right;
}
// div.container h4 {
//     color : blue;
// }

// div.container p {
//     color: green;
// }

// div.container {
//     h4{
//         color : blue;
//     }
//     p {
//         color : green;
//     }
// }