@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

ordertr {
    margin: auto;
}

.leftt {
    font-family: 'nanumsquare';
    width: fit-content;
}

.pay3 {
    width:140px;
    height: 38px;
    border-radius: 5px;
    background-color: black;
    border:1.5px solid black;
    color: white;
    margin-top: 2%;
    margin-bottom: 15%;
}

.right2 {
    text-align: right;
    margin-right: 30px;
    font-family: nanumsquare;
    margin-top: 3%;
}

.redt {
    color: red;
}

.fontst {
    font-family: 'nanumsquare';
}